<form id="callScriptForm">
  <div class="h4 highlevelStep">3. Have a conversation</div>
  <div class="surveyQuestion">
    <div class="instructions">
      <p
        >The person you're calling is working very hard to help people and may be fairly stressed out. Be friendly,
        kind, &amp; compassionate.</p
      >
    </div>
    <div class="yousay"
      >Hi, I have some questions about the COVID-19 vaccine. May I please speak to {{#if isPharmacy}}the pharmacist on
      duty{{else}}the right person{{/if}}?</div
    >
  </div>
  <div class="surveyQuestion">
    <div class="instructions">When you reach the right person:</div>
    <div class="yousay">Are you currently offering the COVID-19 vaccine?</div>
    <div class="small text-muted p-1"
      >Pick yes if this is a site where it's possible to get or schedule a vaccination. Pick no if this is a site that
      does not have the vaccine and is confident they will not in the future.</div
    >
    <div id="yesNoOptions" class="btn-group" role="group">
      <input
        type="radio"
        name="yesNoSelect"
        value="yes"
        id="yesJustYes"
        class="btn-check"
        data-show-also="vaccinatingPublicScript scoobyRecordCall"
      />
      <label class="btn btn-outline-success" for="yesJustYes" title="Pick if they offer vaccines, even if out of stock"
        >Yes</label
      >
      <input
        type="radio"
        id="sortOf"
        value="sortOf"
        class="btn-check"
        name="yesNoSelect"
        data-show-also="scoobyRecordCall sortOfReason"
      />
      <label
        class="btn btn-outline-warning"
        for="sortOf"
        title="Pick if they think they will start to offer vaccines soon"
        >Sort of</label
      >
      <input
        type="radio"
        name="yesNoSelect"
        value="no"
        id="noJustNo"
        class="btn-check"
        data-hide-on-select="vaccinatingPublicScript contactConfirmation plannedStopDatePrompt"
        data-show-also="scoobyRecordCall"
      />
      <label
        class="btn btn-outline-danger"
        title="No can mean several things. Check for the best option from the buttons that pop up."
        for="noJustNo"
        >No</label
      >
    </div>
  </div>
  <div id="sortOfReason" class="hidden">
    <div class="surveyQuestion">
      <div class="instructions"
        >Why sort of? If there are more details to provide or a caveat, please update the private notes.</div
      >
      <div class="btn-group" role="group">
        <input type="radio" name="sortOfReason" value="pausedJJ" id="pausedJJ" class="btn-check" />
        <label
          class="btn btn-outline-secondary"
          title="Select if vaccinations on hold because of pausing use of the Johnson & Johnson vaccine"
          for="pausedJJ"
          >J&amp;J Paused</label>
        <input class="btn-check" type="radio" name="sortOfReason" value="expectSoon" id="expectSoon" />
        <label class="btn btn-outline-secondary" for="expectSoon">Expect to offer within 2 weeks</label>
        <input class="btn-check" type="radio" name="sortOfReason" value="noNotYet" id="noNotYet" data-hide-on-select="vaccinatingPublicScript plannedStopDatePrompt"/>
        <label class="btn btn-outline-secondary" for="noNotYet">Want to, don't know when</label>
        <input class="btn-check" type="radio" name="sortOfReason" value="private" id="private" data-hide-on-select="vaccinatingPublicScript plannedStopDatePrompt"/>
        <label class="btn btn-outline-secondary" for="private">Private site</label>
        <input class="btn-check" type="radio" name="sortOfReason" value="noStaffOnly" id="noStaffOnly" data-hide-on-select="vaccinatingPublicScript plannedStopDatePrompt"/>
        <label class="btn btn-outline-secondary" title="Select if the location is vaccinating only their employees." for="noStaffOnly">Only staff</label>
      </div>
    </div>
  </div>

  <div id="vaccinatingPublicScript">
    <div class="surveyQuestion">
      <div class="yousay">Thanks! Can anyone sign up to be vaccinated, or are there any restrictions or limits?</div>
      <div class="small text-muted mb-2"
        >If they're vaccinating everyone 16/18+, select "No restrictions". Also, if they’re silent for a few seconds or seem confused, provide examples: “For example, are you only vaccinating
        county residents or current patients, or anything like that?"</div
      >
      <div>
        <input class="btn-check" type="checkbox" id="noRestrictions" data-hide-on-select="restrictionsList" />
        <label class="btn btn-outline-success mb-2" title="If they are vaccinating everyone 16+/18+, select this." for="noRestrictions">No restrictions</label>

        <div id="restrictionsList">
          <input class="btn-check" type="checkbox" id="veteransOnly" />
          <label
            id="veteransOnlyLabel"
            class="btn btn-outline-primary"
            title="Ask if veterans' family members can get doses too"
            for="veteransOnly"
            >Veterans only</label
          >
          <input class="btn-check" type="checkbox" id="patientsOnly" />
          <label
            class="btn btn-outline-primary"
            title="This is a good question to ask clinics/hospitals"
            for="patientsOnly"
            >Current patients only</label
          >
          <input class="btn-check" type="checkbox" id="countyOnly" />
          <label
            class="btn btn-outline-primary"
            title="If county workers are not included, please note that in the public notes"
            for="countyOnly"
            >County residents/workers only</label
          >
          <input class="btn-check" type="checkbox" id="other" data-show-also="otherRestriction" />
          <label class="btn btn-outline-primary" title="Specify the restriction in the box that pops up below." for="other">Other</label>

          <div id="otherRestriction" class="hidden mt-2">
            <div class="small p-1 text-muted">What are the other restrictions or limits?</div>
            <div
              id="restrictionsReasonForm"
              class="input form-control form-control-sm"
              role="textbox"
              contenteditable
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="surveyQuestion">
      <div class="yousay">And do you require appointments, or are walk-ins accepted?</div>
      <div class="btn-group" role="group">
        <input class="btn-check" type="radio" name="appointmentRequired" value="required" id="appointmentRequired" />
        <label class="btn btn-outline-secondary" title="A scheduled appointment is required" for="appointmentRequired"
          >Appointment Required</label
        >
        <input
          class="btn-check"
          type="radio"
          name="appointmentRequired"
          value="appointmentOrWalkin"
          id="appointmentOrWalkin"
        />
        <label class="btn btn-outline-secondary" for="appointmentOrWalkin">Put in public note if one is preferred over the other.</label>
        <input
          class="btn-check"
          type="radio"
          name="appointmentRequired"
          value="walkinOk"
          id="apptWalkin"
          data-hide-on-select="appointmentDetails"
        />
        <label
          class="btn btn-outline-secondary"
          title="If there are specific days/times walk-ins are accepted, put in public note"
          for="apptWalkin"
          >Walk-ins only</label
        >
      </div>
    </div>
    <div id="appointmentDetails">
      <div class="surveyQuestion">
        <div class="yousay">How do you make an appointment?</div>
        <div class="btn-group" role="group">
          <input
            class="btn-check"
            type="radio"
            name="appointmentMethod"
            id="appointmentMethodWeb"
            data-show-also="appointmentWebsite"
            value="web"
          />
          <label
            for="appointmentMethodWeb"
            title="Only change the website if it is the incorrect website for scheduling."
            class="btn btn-outline-secondary"
            >Web</label>
          <input
            type="radio"
            class="btn-check"
            name="appointmentMethod"
            id="appointmentMethodPhone"
            data-show-also="appointmentPhone"
            value="phone"
          />
          <label
            for="appointmentMethodPhone"
            class="btn btn-outline-secondary"
            title="Only change the # if it is the incorrect # to schedule an appt."
            >Phone</label
          >
          <input
            class="btn-check"
            type="radio"
            name="appointmentMethod"
            id="appointmentMethodOther"
            data-show-also="appointmentOtherInstructions"
            value="other"
          />
          <label
            for="appointmentMethodOther"
            class="btn btn-outline-secondary"
            title="Ex. hospital patient portal like MyHealthOnline"
            >Another way</label
          >
        </div>
        <div id="appointmentMethodDetail" class="mt-2">
          <input
            type="text"
            id="appointmentPhone"
            class="form-control hidden"
            placeholder="Appointment phone number"
            value="{{locationPhone}}"
          />
          <input
            type="text"
            id="appointmentOtherInstructions"
            class="form-control hidden"
            placeholder="Scheduling instructions"
          />
          <input
            type="text"
            id="appointmentWebsite"
            class="form-control hidden"
            placeholder="Appointment website"
            value="{{locationWebsite}}"
          />
        </div>
      </div>
      <div class="surveyQuestion">
        <div class="yousay">
          Great! Do you know if you have any open appointments that someone could book right now? It’s okay if they’re
          not for a couple of weeks.
        </div>
        <div class="btn-group" role="group">
          <input
            class="btn-check"
            type="radio"
            name="appointmentsAvailable"
            id="appointmentsAvailableYes"
            value="yes"
          />
          <label for="appointmentsAvailableYes" class="btn btn-outline-secondary">Yes</label>
          <input class="btn-check" type="radio" name="appointmentsAvailable" id="appointmentsAvailableNo" value="no" />
          <label for="appointmentsAvailableNo" class="btn btn-outline-secondary">No</label>
          <input
            class="btn-check"
            type="radio"
            name="appointmentsAvailable"
            id="appointmentsAvailableUnknown"
            value="unknown"
          />
          <label
            for="appointmentsAvailableUnknown"
            class="btn btn-outline-secondary"
            title="When they don't have the information"
            >Not sure</label
          >
        </div>
      </div>

    </div>

    <div class="surveyQuestion">
      <div class="yousay">Which vaccines do you offer?</div>
      <input class="btn-check" type="checkbox" id="modernaProvided" />
      <label class="btn btn-outline-primary" for="modernaProvided">Moderna</label>

      <input class="btn-check" type="checkbox" id="pfizerProvided" />
      <label class="btn btn-outline-primary" for="pfizerProvided">Pfizer</label>

      <input class="btn-check" type="checkbox" id="jjProvided" />
      <label class="btn btn-outline-primary" for="jjProvided">Johnson &amp; Johnson</label>

      <input class="btn-check" type="checkbox" id="otherProvided" />
      <label class="btn btn-outline-primary" for="otherProvided">Other</label>
    </div>

  </div>

  {{#if anyConfirmations}}
    <div class="surveyQuestion" id="contactConfirmation">
      <label
        >We'd like to confirm a few details about this location. Please update them if what we have is incorrect:</label
      >
      {{#if confirmAddress }}<div class="yousay">Is it okay if I confirm your address? Is it…</div>
      <input
        type="text"
        class="form-control"
        id="confirmAddress"
        value="{{locationAddress}}"
      />
      {{/if}} {{#if confirmHours}} 
      <div class="yousay mt-2">Can I double-check your vaccination clinic hours? Are they…</div>
      <input type="text" class="form-control" id="confirmHours" value="{{locationHours}}" />
      {{/if}} {{#if confirmWebsite}}
      <div class="yousay mt-2">Is your website…</div>
      <input type="text" class="form-control" id="confirmSite" value="{{locationWebsite}}" />
      {{/if}}
    </div>
  {{/if}}

  <div id="plannedStopDatePrompt" class="surveyQuestion">
    <div class="small text-danger"
      ><b
        >Only ask this if they brought up that they will stop operating as a vaccination location in the future.</b
      ></div
    >
    <div class="yousay">
      {{#if isPharmacy}} When will the the pharmacy stop offering COVID-19 vaccines? {{else}} When will the site stop
      operating? {{/if}}
    </div>
    <input id="plannedStopDate" class="input form-control" type="date" />
  </div>

  <div class="surveyQuestion">
    <div class="yousay">Thanks so much for your time! Have a great day.</div>
  </div>

  <div class="surveyQuestion">
    <label for="callScriptPublicNotes">Public notes</label>
    <div class="small p-1 text-muted"
      >What do our readers need to know about this location? Please don't repeat anything you filled in above.</div
    >
    <div class="small"
      >Please do not write names or phone numbers in this box. Everything in this box will be on our public website.<div>
        <div id="callScriptPublicNotes" class="input form-control form-control-sm" role="textbox" contenteditable
          >{{ locationPublicNotes }}</div
        >
      </div>
    </div>
  </div>
  <div class="surveyQuestion">
    <div>
      <label for="callScriptPrivateNotes">Private notes</label>
      <div class="small p-1 text-muted"
        >What should team members know about this call or location? We won't publish this information.</div
      >
      <div
        id="callScriptPrivateNotes"
        class="input border border-secondary form-control form-control-sm"
        role="textbox"
        contenteditable
        >{{ locationPrivateNotes }}</div
      >
    </div>
  </div>
  <div class="surveyQuestion">
    <div class="instructions"
      >If you think this report should be checked by somebody before publication, check "Request review".</div
    >
    <div class="form-check mt-1">
      <input
        data-show-also="reviewRequestedConfirmation"
        class="form-check-input"
        type="checkbox"
        id="reviewRequested"
      />
      <label
        class="form-check-label text-danger"
        title="Please leave a [bracketed note] with the reason for the flag."
        for="reviewRequested"
        >Request review</label
      >
    </div>
    <div class="d-inline-block">
      <div id="reviewRequestedConfirmation" class="hidden alert alert-danger small mb-0" role="alert">
        This report will be reviewed upon submission.
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto row">
    <input type="button" class="btn btn-primary my-4 hidden" id="scoobyRecordCall" value="Send report" />
  </div>
</form>
