<form id="callScriptForm">
  <div id="callScriptBody">
    <div class="surveyQuestion">
      <div class="instructions">
        <p
          >The person you're calling is working very hard to help people and may be fairly stressed out. Be friendly,
          kind, &amp; compassionate.</p
        >
      </div>
      <div class="yousay"
        >Hi, I have some questions about getting the COVID vaccine. Could I please speak to {{ responsiblePerson
        }}?</div
      >

      <div class="instructions">Once you reach the right person, ask:</div>
      <div class="yousay">Are you currently offering the COVID vaccine?</div>
      <div id="noOption" class="btn-group" role="group">
        <input
          type="radio"
          name="yesNoSelect"
          value="noJustNo"
          id="noJustNo"
          class="btn-check"
          data-hide-on-select="vaccinatingPublicScript"
          data-show-also="noDetails"
        />
        <label class="btn btn-outline-danger" for="noJustNo">No</label>
      </div>
      <div id="yesOptions" class="btn-group" role="group">
        <input
          type="radio"
          name="yesNoSelect"
          value="yesJustYes"
          id="yesJustYes"
          class="btn-check"
          data-show-also="scoobyRecordCall"
        />
        <label class="btn btn-outline-success" for="yesJustYes">Yes</label>
        <input
          type="radio"
          id="yesSoon"
          value="yesSoon"
          class="btn-check"
          name="yesNoSelect"
          data-show-also="scoobyRecordCall"
        />
        <label class="btn btn-outline-success" for="yesSoon">Probably within 2 weeks</label>
      </div>
    </div>

    <div id="noDetails" class="hidden">
      <div class="surveyQuestion">
        <div class="yousay">Do you expect to in the future?</div>
        <div id="noOptions" class="btn-group" role="group">
          <input
            class="btn-check"
            type="radio"
            id="noNever"
            name="noReasonSelect"
            value="never"
            data-show-also="scoobyRecordCall"
          />
          <label
            class="btn btn-outline-danger"
            title="Choose this option if the site is sure they will never offer COVID vaccines to the general public. Examples: Vetrinary hospitals, Arby's"
            for="noNever"
            >No, never</label
          >

          <input
            class="btn-check"
            type="radio"
            id="noPrivate"
            name="noReasonSelect"
            value="private"
            data-show-also="scoobyRecordCall"
          />
          <label class="btn btn-outline-danger" title="Example: a nursing home" for="noPrivate">Private site</label>
          <input
            class="btn-check"
            type="radio"
            name="noReasonSelect"
            id="noStaffOnly"
            value="staffOnly"
            data-show-also="scoobyRecordCall"
          />
          <label class="btn btn-outline-danger" for="noStaffOnly">Only staff</label>
          <input
            class="btn-check"
            type="radio"
            name="noReasonSelect"
            id="noHCWOnly"
            value="hcwOnly"
            data-show-also="scoobyRecordCall"
          />
          <label class="btn btn-outline-danger" for="noHCWOnly">Only healthcare workers</label>
          <input
            class="btn-check"
            type="radio"
            name="noReasonSelect"
            id="noNotYet"
            value="notYet"
            data-show-also="scoobyRecordCall"
          />
          <label
            class="btn btn-outline-danger"
            title="Choose this option if they say they'll get doses some day, but don't know when"
            for="noNotYet"
            >Maybe, but not within 2 weeks</label
          >
          <input
            class="btn-check"
            type="radio"
            name="noReasonSelect"
            id="noDontKnow"
            value="notYet"
            data-show-also="scoobyRecordCall"
          />
          <label
            class="btn btn-outline-danger"
            title="Choose this option if they don't know if they will be a vaccination site in the future"
            for="noDontKnow"
            >Don't know</label
          >
        </div>
      </div>
    </div>
    <div id="vaccinatingPublicScript">
      <div class="surveyQuestion">
        <div class="yousay">How old does someone need to be to get vaccinated if they're not in a special group?</div>
        <div class="btn-group" role="group">
          <input class="btn-check" type="radio" name="minAgeSelect" value="50" id="minAge50" />
          <label class="btn btn-outline-secondary" for="minAge50">50+</label>
          <input class="btn-check" type="radio" name="minAgeSelect" value="65" id="minAge65" />
          <label class="btn btn-outline-secondary" for="minAge65">65+</label>
          <input class="btn-check" type="radio" name="minAgeSelect" value="70" id="minAge70" />
          <label class="btn btn-outline-secondary" for="minAge70">70+</label>
          <input class="btn-check" type="radio" name="minAgeSelect" value="75" id="minAge75" />
          <label class="btn btn-outline-secondary" for="minAge75">75+</label>
          <input class="btn-check" type="radio" name="minAgeSelect" value="80" id="minAge80" />
          <label class="btn btn-outline-secondary" for="minAge80">80+</label>
          <input class="btn-check" type="radio" name="minAgeSelect" value="85" id="minAge85" />
          <label class="btn btn-outline-secondary" for="minAge85">85+</label>
        </div>
      </div>
      <div class="surveyQuestion">
        <div class="yousay">Thanks! Do they need an appointment?</div>

        <div class="btn-group" role="group">
          <input
            class="btn-check"
            type="radio"
            name="appointmentRequired"
            value="walkinOk"
            id="apptWalkin"
            data-hide-on-select="appointmentDetails"
          />
          <label class="btn btn-outline-secondary" for="apptWalkin">Walkins are welcome</label>
          <input class="btn-check" type="radio" name="appointmentRequired" value="required" id="appointmentRequired" />
          <label class="btn btn-outline-secondary" for="appointmentRequired">Appointment Required</label>
        </div>
      </div>
      <div id="appointmentDetails">
        <div class="surveyQuestion">
          <div class="yousay">Do you know if you have any appointments available in the next two weeks?</div>

          <div class="btn-group" role="group">
            <input
              class="btn-check"
              type="radio"
              name="appointmentsAvailable"
              id="appointmentsAvailableFull"
              value="full"
            />
            <label for="appointmentsAvailableFull" class="btn btn-outline-secondary">Full for the next two weeks</label>

            <input
              class="btn-check"
              type="radio"
              name="appointmentsAvailable"
              id="appointmentsAvailableOpen"
              value="open"
            />
            <label for="appointmentsAvailableOpen" class="btn btn-outline-secondary">Appointments available</label>

            <input
              class="btn-check"
              type="radio"
              name="appointmentsAvailable"
              id="appointmentsAvailableUnknown"
              value="unknown"
            />
            <label for="appointmentsAvailableUnknown" class="btn btn-outline-secondary">Not sure</label>
          </div>
        </div>
        <div class="surveyQuestion">
          <div class="yousay">How should they make the appointment?</div>
          <div class="btn-group" role="group">
            <input
              class="btn-check"
              type="radio"
              name="appointmentMethod"
              id="appointmentMethodCounty"
              value="county"
            />
            <label for="appointmentMethodCounty" class="btn btn-outline-secondary">County website</label>
            <input
              class="btn-check"
              type="radio"
              name="appointmentMethod"
              id="appointmentMethodMyTurn"
              value="myturn"
            />
            <label for="appointmentMethodMyTurn" class="btn btn-outline-secondary">myturn.ca.gov</label>
            <input
              class="btn-check"
              type="radio"
              name="appointmentMethod"
              id="appointmentMethodWeb"
              data-show-also="appointmentWebsite"
              value="web"
            />
            <label for="appointmentMethodWeb" class="btn btn-outline-secondary">web</label>
            <input
              type="radio"
              class="btn-check"
              name="appointmentMethod"
              id="appointmentMethodPhone"
              data-show-also="appointmentPhone"
              value="phone"
            />
            <label for="appointmentMethodPhone" class="btn btn-outline-secondary">phone</label>
            <input
              class="btn-check"
              type="radio"
              name="appointmentMethod"
              id="appointmentMethodOther"
              data-show-also="appointmentOtherInstructions"
              value="other"
            />
            <label for="appointmentMethodOther" class="btn btn-outline-secondary">Another way</label>
          </div>
          <div id="appointmentMethodDetail">
            <input
              type="text"
              id="appointmentPhone"
              class="form-control hidden"
              placeholder="Appointment phone number"
              value="{{locationPhone}}"
            />
            <input
              type="text"
              id="appointmentOtherInstructions"
              class="form-control hidden"
              placeholder="Scheduling instructions"
            />
            <input
              type="text"
              id="appointmentWebsite"
              class="form-control hidden"
              placeholder="Appointment website"
              value="{{locationWebsite}}"
            />
          </div>
        </div>
      </div>
      <div class="expansions">
        <div class="surveyQuestion">
          <div class="yousay">Are there any other groups you are able to offer vaccines to?</div>
          <input class="btn-check" type="checkbox" id="essentialWorkersAccepted" />
          <label class="btn btn-outline-primary" for="essentialWorkersAccepted">Essential workers</label>

          <input class="btn-check" type="checkbox" id="educatorsAccepted" />
          <label class="btn btn-outline-primary" for="educatorsAccepted">Educators</label>

          <input class="btn-check" type="checkbox" id="foodAndAgAccepted" />
          <label class="btn btn-outline-primary" for="foodAndAgAccepted">Food &amp; Agriculture</label>

          <input class="btn-check" type="checkbox" id="emergencyServicesAccepted" />
          <label class="btn btn-outline-primary" for="emergencyServicesAccepted">Emergency Services</label>

          <input class="btn-check" type="checkbox" id="highRiskIndividualsAccepted" />
          <label class="btn btn-outline-primary" for="highRiskIndividualsAccepted">High risk individuals</label>

          <div class="instructions small secondary">
            If they say anything that's not on the list, put it in the public notes. Please don't include "health care
            workers."
          </div>
        </div>
      </div>
      <div class="restrictions">
        <div class="surveyQuestion">
          <div class="yousay">Are there limits on who you can accommodate right now?</div>
          <div class="">
            <input class="btn-check" type="checkbox" id="veteransOnly" />
            <label class="btn btn-outline-primary" for="veteransOnly">Veterans only</label>
            <input class="btn-check" type="checkbox" id="patientsOnly" />
            <label class="btn btn-outline-primary" for="patientsOnly">Current patients only</label>
            <input class="btn-check" type="checkbox" id="countyOnly" />
            <label class="btn btn-outline-primary" for="countyOnly">County residents only</label>
            <input class="btn-check" type="checkbox" id="cityOnly" />
            <label class="btn btn-outline-primary" for="cityOnly">City residents only</label>
            <input class="btn-check" type="checkbox" id="secondDoseOnly" />
            <label class="btn btn-outline-primary" for="secondDoseOnly">Second dose only</label>
          </div>
          <div class="instructions small secondary">
            If they say anything that's not on the list, mention it in the public notes.
          </div>
        </div>

        <div class="surveyQuestion">
          <div class="yousay"
            >When the state opens up vaccination to high-risk groups on March 15, what documentation will people need to
            bring with them to their appointments?</div
          >
          <div class="small p-1 text-muted"
            >This text won't appear directly on our website. Our team will read it as we figure out how to get ready for
            March 15</div
          >
          <div
            id="callScriptHighRiskDocNotes"
            class="input form-control form-control-sm"
            role="textbox"
            contenteditable
          ></div>
        </div>
      </div>

      <div class="surveyQuestion">
        <div class="instructions"
          >If the person you're talking to mentions extra doses, cancelled appointments, or same day availability, write
          about that in this box.</div
        >
        <div class="small p-1 text-muted"
          >This text won't appear directly on our website, but we'll share it with our outreach partners</div
        >
        <div
          id="callScriptExtraDoseNotes"
          class="input form-control form-control-sm"
          role="textbox"
          contenteditable
        ></div>
      </div>
    </div>
  </div>

  <div id="requestAddress" class="hidden">
    <div class="surveyQuestion">
      <div class="yousay">Would you mind telling me what your address is?</div>
      <div class="instructions">
        <a
          target="_blank"
          class="text-muted small open-as-popup"
          href="https://airtable.com/shruwoZdEXPOmVNCK?prefill_Location={{locationId}}&prefill_Type=Incorrect+contact+information"
          >Request a database update</a
        >
      </div>
    </div>
  </div>

  <div class="surveyQuestion">
    <div class="yousay">Thanks so much for your time! Do you happen to know anywhere else I should check?</div>
    <div class="instructions">
      <p
        >If they offer you any leads,

        <a
          target="_blank"
          class="text-muted open-as-popup"
          href="https://airtable.com/shruwoZdEXPOmVNCK?prefill_Type=Add+a+missing+hospital/pharmacy"
          >report them with this form</a
        >.
      </p>
    </div>
  </div>
  <div class="surveyQuestion">
    <div class="yousay">Thanks! Have a great day.</div>
  </div>

  <div class="surveyQuestion">
    <label for="callScriptPublicNotes">Public notes</label>
    <div class="small p-1 text-muted"
      >What do our readers need to know about this location? Please don't repeat anything you filled in above.</div
    >
    <div class="small"
      >Please <b>do not write names or phone numbers in this box</b>. Everything in this box will be on our public
      website.<div>
        <div id="callScriptPublicNotes" class="input form-control form-control-sm" role="textbox" contenteditable
          >{{ locationPublicNotes }}</div
        >
      </div>
    </div>
  </div>
  <div>
    <div class="surveyQuestion">
      <div class="">
        <label for="callScriptPrivateNotes">Private notes</label>
        <div class="small p-1 text-muted"
          >What should team members know about this call or location? We won't publish this information.</div
        >
        <div
          id="callScriptPrivateNotes"
          class="input border border-secondary form-control form-control-sm"
          role="textbox"
          contenteditable
          >{{ locationPrivateNotes }}</div
        >
      </div>
    </div>
  </div>
    <div class="surveyQuestion">
	<div class="instructions">If you think this report should be checked by somebody before publication, click the "Request review" button</div>
          <input class="btn-check" type="checkbox" id="reviewRequested" />
          <label class="btn btn-outline-danger" for="reviewRequested">Request review</label>
 </div>
  <div class="d-grid gap-2 col-6 mx-auto row">
    <input type="button" class="btn btn-primary my-4 hidden" id="scoobyRecordCall" value="Send report" />
  </div>
</form>
