<form id="callScriptForm">
  <div class="h4 highlevelStep">3. Have a conversation</div>
  <div class="surveyQuestion">
    <div class="instructions">
      <p
        >The person you're calling is working very hard to help people and may be fairly stressed out. Be friendly,
        kind, &amp; compassionate.</p
      >
    </div>
    <div class="yousay"
      >Hi, I have some questions about the COVID vaccine. May I please speak to {{#if isPharmacy}}the pharmacist on duty{{else}}the right person{{/if}}?</div
    >
  </div>
  <div class="surveyQuestion">
    <div class="instructions">When you reach the right person:</div>
    <div class="yousay">Are you currently a vaccination clinic for the general public?</div>
      <div class="small text-muted p-1">Pick yes if this is a site where it's possible to get or schedule a vaccination. Pick no if this is a site that does not have the vaccine and is confident they will not in the future.</div>
      <div id="yesNoOptions" class="btn-group" role="group">
        <input
          type="radio"
          name="yesNoSelect"
          value="yesJustYes"
          id="yesJustYes"
          class="btn-check"
          data-show-also="scoobyRecordCall"
        />
        <label
          class="btn btn-outline-success"
          for="yesJustYes"
          title="Pick if they offer vaccines, even if out of stock"
          >Yes</label
        >
        <input
          type="radio"
          id="yesSoon"
          value="yesSoon"
          class="btn-check"
          name="yesNoSelect"
          data-hide-on-select="vaccinatingPublicScript"
          data-show-also="scoobyRecordCall itsComplicatedReason"
        />
        <label
          class="btn btn-outline-warning"
          for="yesSoon"
          title="Pick if they think they will start to offer vaccines soon"
          >It's complicated</label
        >
        <input
          type="radio"
          name="yesNoSelect"
          value="noJustNo"
          id="noJustNo"
          class="btn-check"
          data-hide-on-select="vaccinatingPublicScript"
          data-show-also="scoobyRecordCall"
        />
        <label class="btn btn-outline-danger" title="No can mean several things. Check for the best option from the buttons that pop up." for="noJustNo">No</label>
      </div>
    </div>
  </div>
  <div id="itsComplicatedReason" class="hidden">
    <div class="surveyQuestion">
      <div class="secondary mb-2">Why it complicated? If another reason, please provide details in the private notes field.</div>
      <div class="btn-group" role="grousmall texdtp">
        <input
          class="btn-check"
          type="radio"
          name="itsComplicatedReason"
          value="expectSoon"
          id="expectSoon"
        />
        <label class="btn btn-outline-secondary" for="expectSoon">Solidly expected to offer within two weeks</label>
        <input
          class="btn-check"
          type="radio"
          name="itsComplicatedReason"
          value="dontKnowWhen"
          id="dontKnowWhen"
        />
        <label class="btn btn-outline-secondary" for="dontKnowWhen">Want to offer, but don't know when</label>
        <input
          class="btn-check"
          type="radio"
          name="itsComplicatedReason"
          value="paused"
          id="paused"
        />
        <label class="btn btn-outline-secondary" for="noDontKnowWhen">Paused / on hold</label>
      </div>


    </div>

  </div>

  <div id="vaccinatingPublicScript">
    <div class="surveyQuestion">
      <div class="yousay"> Thanks! Are there any restrictions or limits on who you’re vaccinating?</div>
      <div class="small text-muted mb-2">For example, age restrictions related to the particular vaccines being given or county residency.</div>
      <div class="btn-group" role="group">
        <input
          class="btn-check"
          type="radio"
          name="restrictionsOrLimits"
          value="yesRestrictions"
          id="yesRestrictions"
          data-show-also="restrictionsReason"
        />
        <label class="btn btn-outline-secondary" for="yesRestrictions">Yes</label>
        <input
          class="btn-check"
          type="radio"
          name="restrictionsOrLimits"
          value="noRestrictions"
          id="noRestrictions"
        />
        <label class="btn btn-outline-secondary" for="noRestrictions">No</label>
      </div>
      <div id="restrictionsReason" class="hidden mt-2">
        <div class="small p-1 text-muted">What are the restrictions or limits?</div>
        <div id="restrictionsReasonForm" class="input form-control form-control-sm" role="textbox" contenteditable
            ></div>
      </div>
    </div>

    <div class="surveyQuestion">
      <div class="yousay">And do you require appointments, or are walk-ins accepted?</div>
      <div class="btn-group" role="group">
        <input
          class="btn-check"
          type="radio"
          name="appointmentRequired"
          value="required"
          id="appointmentRequired"
        />
        <label class="btn btn-outline-secondary" title="A scheduled appointment is required" for="appointmentRequired">Appointment Required</label>
        <input
          class="btn-check"
          type="radio"
          name="appointmentRequired"
          value="appointmentOrWalkin"
          id="appointmentOrWalkin"
        />
        <label class="btn btn-outline-secondary" for="appointmentOrWalkin">Accept appointments and walk-ins</label>
        <input
          class="btn-check"
          type="radio"
          name="appointmentRequired"
          value="walkinOk"
          id="apptWalkin"
          data-hide-on-select="appointmentDetails"
        />
        <label class="btn btn-outline-secondary" title="If there are specific days/times walk-ins are accepted, put in public note" for="apptWalkin">Walk-ins only</label>
      </div>
    </div>
    <div id="appointmentDetails">
      <div class="surveyQuestion">
        <div class="yousay">
          Great! Do you know if you have any open appointments that someone could book right now? It’s okay if they’re not for a couple of weeks. </div>
        <div class="btn-group" role="group">
          <input
            class="btn-check"
            type="radio"
            name="appointmentsAvailable"
            id="appointmentsAvailableYes"
            value="yes"
          />
          <label for="appointmentsAvailableYes" class="btn btn-outline-secondary">Yes</label>
          <input
            class="btn-check"
            type="radio"
            name="appointmentsAvailable"
            id="appointmentsAvailableNo"
            value="no"
          />
          <label for="appointmentsAvailableNo" class="btn btn-outline-secondary"
            >No</label
          >
          <input
            class="btn-check"
            type="radio"
            name="appointmentsAvailable"
            id="appointmentsAvailableUnknown"
            value="unknown"
          />
          <label for="appointmentsAvailableUnknown" class="btn btn-outline-secondary" title="When they don't have the information" >Not sure</label>
        </div>
      </div>
      <div class="surveyQuestion">
        <div class="yousay">How do you make an appointment?</div>
        <input
          type="checkbox"
          class="btn-check"
          id="appointmentMethodWeb"
          data-show-also="appointmentWebsite"
          value="web"
        />
        <label for="appointmentMethodWeb" class="btn btn-outline-primary">web</label>
        <input
          type="checkbox"
          class="btn-check"
          id="appointmentMethodPhone"
          data-show-also="appointmentPhone"
          value="phone"
        />
        <label for="appointmentMethodPhone" class="btn btn-outline-primary" title="Only change the # if it is the incorrect # to schedule an appt" >phone</label>
        <input
          type="checkbox"
          class="btn-check"
          id="appointmentMethodOther"
          data-show-also="appointmentOtherInstructions"
          value="other"
        />
        <label for="appointmentMethodOther" class="btn btn-outline-primary" title="Ex. hospital patient portal like MyHealthOnline" >Another way</label>
        <div id="appointmentMethodDetail" class="mt-3">
          <div class="hidden row m-1" id="appointmentWebsite">
            <label for="appointmentWebsiteInput" class="col-sm-3 col-form-label">Website:</label>
            <div class="col-sm-9">
              <input
                type="text"
                id="appointmentWebsiteInput"
                class="form-control"
                placeholder="Appointment website"
                value="{{locationWebsite}}"
              />
            </div>
          </div>

          <div class="hidden row m-1" id="appointmentPhone">
            <label for="appointmentPhoneInput" class="col-sm-3 col-form-label">Phone number:</label>
            <div class="col-sm-9">
              <input
                id="appointmentPhoneInput"
                type="text"
                class="form-control"
                placeholder="Appointment phone number"
                value="{{locationPhone}}"
              />
            </div>
          </div>

          <div class="hidden row m-1" id="appointmentOtherInstructions">
            <label for="appointmentOtherInstructionsInput" class="col-sm-3 col-form-label">Another way:</label>
            <div class="col-sm-9">
              <input
                id="appointmentOtherInstructionsInput"
                type="text"
                class="form-control"
                placeholder="Scheduling Instructions"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="surveyQuestion">
      <div class="yousay">Which vaccines do you offer?</div>
      <input class="btn-check" type="checkbox" id="modernaProvided" />
      <label class="btn btn-outline-primary" for="modernaProvided">Moderna</label>

      <input class="btn-check" type="checkbox" id="pfizerProvided" />
      <label class="btn btn-outline-primary" for="pfizerProvided">Pfizer</label>

      <input class="btn-check" type="checkbox" id="jjProvided" />
      <label class="btn btn-outline-primary" for="jjProvided">Johnson &amp; Johnson</label>

      <input class="btn-check" type="checkbox" id="otherProvided" />
      <label class="btn btn-outline-primary" for="otherProvided">Other</label>
    </div>

    <div class="surveyQuestion " id="contactConfirmation">
      <label>We'd like to confirm a few details about this location. Please update them if what we have is incorrect:</label>
      {{#if locationAddress }}<div class="yousay">Is it okay if I confirm your address? Is it ...</div>
        <input type="text"
          class="form-control"
          id="confirmAddress"
          placeholder="Provider address"
          value="{{locationAddress}}"
        />
      {{/if}}

      {{#if locationHours}}
        {{#if locationAddress}}
          <div class="yousay mt-2">Can I also double-check your vaccination clinic hours? Are they…</div>
        {{else}}
          <div class="yousay mt-2">Can I double-check your vaccination clinic hours? Are they…</div>
        {{/if}}
        <input type="text"
          class="form-control"
          id="confirmAddress"
          placeholder="Clinic hours"
          value="{{locationHours}}"
        />
      {{/if}}

      {{#if locationWebsite }}
        <div class="yousay mt-2">And is your website...</div>
        <input type="text"
          class="form-control"
          id="confirmAddress"
          placeholder="website"
          value="{{locationWebsite}}"
        />
      {{/if}}
    </div>
    <div id="plannedStopDatePrompt" class="surveyQuestion">
      <div class="text-danger"><b>Only ask this if they brought up that they will stop operating as a vaccination location in the future.</b></div>
      <div class="yousay">
        {{#if isPharmacy}}
          When will the the pharmacy stop offering COVID-19 vaccines?
        {{else}}
          When will the site stop operating?
        {{/if}}
      </div>
      <input id="plannedStopDate" class="input form-control" type="date"></input>
    </div>
  </div>

  <div class="surveyQuestion">
    <div class="yousay">Thanks so much for your time! Have a great day.</div>
  </div>

  <div class="surveyQuestion">
    <label for="callScriptPublicNotes">Public notes</label>
    <div class="small p-1 text-muted"
      >What do our readers need to know about this location? Please don't repeat anything you filled in above.</div
    >
    <div class="small"
      >Please <b>do not write names or phone numbers in this box</b>. Everything in this box will be on our public
      website. Please delete old, out of date notes.<div>
        <div id="callScriptPublicNotes" class="input form-control form-control-sm" role="textbox" contenteditable
          >{{ locationPublicNotes }}</div
        >
      </div>
    </div>
  </div>
  <div class="surveyQuestion">
    <div>
      <label for="callScriptPrivateNotes">Private notes</label>
      <div class="small p-1 text-muted"
        >What should team members know about this call or location? We won't publish this information.</div
      >
      <div
        id="callScriptPrivateNotes"
        class="input border border-secondary form-control form-control-sm"
        role="textbox"
        contenteditable
        >{{ locationPrivateNotes }}</div
      >
    </div>
  </div>
  <div class="surveyQuestion">
    <div class="instructions"
      >If you think this report should be checked by somebody before publication, check "Request review".</div
    >
    <div class="form-check mt-1">
      <input data-show-also="reviewRequestedConfirmation" class="form-check-input" type="checkbox" id="reviewRequested" />
      <label class="form-check-label text-danger" title="Please leave a [bracketed note] with the reason for the flag." for="reviewRequested">Request review</label>
    </div>
    <div class="d-inline-block">
      <div id="reviewRequestedConfirmation" class="hidden alert alert-danger small mb-0"  role="alert">
        This report will be reviewed upon submission.
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto row">
    <input type="button" class="btn btn-primary my-4 hidden" id="scoobyRecordCall" value="Send report" />
  </div>
</form>
