{{#*inline "inlineButtons"}}
    <button type="button" class="js-debug mt-2 text-white btn btn-sm btn-info">Debug Info</button>
    {{#if locationUrl}}
      <a href="{{locationUrl}}" target="_blank" class="js-debug mt-2 btn btn-sm btn-danger">Red on VTS</a>
    {{/if}}
    {{#if candidateUrl}}
      <a href="{{candidateUrl}}" target="_blank" class="js-debug mt-2 btn btn-sm btn-primary">Blue on VTS</a>
    {{/if}}
{{/inline}}

<h3 class="mt-4 text-center">
  {{#if matching}}Matching{{else}}Merging{{/if}} <span class="text-danger">{{currentLocation.name}}</span>
</h3>

{{#if candidate}}
<h5 class="mb-4 text-center">Candidate {{curNumber}} of {{numCandidates}}</h5>
{{else}}
<h5 class="mb-4 text-center">
  {{#if matching}} {{#if numCandidates}}All potential matches declined{{else}}We couldn't find any matching
  candidates{{/if}} {{else}} {{#if numCandidates}}All potential merges declined{{else}}We couldn't find any merge
  candidates{{/if}} {{/if}}
</h5>
{{/if}} {{#if candidate}}
<div class="candidateContainer row border-start">
  <div class="col-6">
    <div class="{{#if matching}}text-lowercase{{/if}}">
      <h4 class="text-danger d-inline">{{currentLocation.name}}</h4>
      vs
      <h4 class="text-primary">{{ candidate.name }}</h4>

      <div class="text-danger d-inline">{{currentLocation.full_address}}</div>
      vs
      <div class="mb-2 text-primary">{{ candidate.full_address }}</div>
    </div>

    <div class="text-danger d-inline">
      {{#if currentLocation.phone_number}}{{currentLocation.phone_number}}{{else}}No phone number{{/if}}
    </div>
    vs
    <div class="mb-2 text-primary">
      {{#if candidate.phone_number}}{{candidate.phone_number}}{{else}}No phone number{{/if}}
    </div>

    <div class="text-break d-inline">
      <a class="text-danger" href="{{currentLocation.website}}" target="_new">
        {{#if currentLocation.website}}{{currentLocation.website}}{{else}}No website{{/if}}
      </a>
    </div>
    vs
    <div class="text-break mb-2">
      <a class="text-primary" href="{{candidate.website}}" target="_new">
        {{#if candidate.website}}{{candidate.website}}{{else}}No website{{/if}}
      </a>
    </div>

    {{#unless matching}} <!-- merging -->
    <div class="text-danger d-inline">
      {{#if currentLocation.hours}}{{currentLocation.hours}}{{else}}No Hours{{/if}}
    </div>
    vs
    <div class="mb-2 text-primary">{{#if candidate.hours}}{{candidate.hours}}{{else}}No hours{{/if}}</div>

    <div class="text-danger d-inline">
      {{#if currentLocation.provider.name}}Provider: {{currentLocation.provider.name}}{{else}}No provider{{/if}}
    </div>
    vs
    <div class="mb-2 text-primary">{{#if candidate.provider.name}}Provider: {{candidate.provider.name}}{{else}}No provider{{/if}}</div>
    {{/unless}}

    <div>Distance: {{ candidate.distance }} miles away</div>
    {{> inlineButtons}}
  </div>
  <div class="map col-6" id="map-{{candidate.id}}">Map goes here</div>
</div>
{{else}}
<div class="candidateContainer row border-start">
  <div class="col-6">
    <h4 class="text-lowercase text-danger">{{ currentLocation.name }}</h4>
    <div class="text-lowercase text-danger">{{ currentLocation.full_address }}</div>
    <div class="text-danger">
      {{#if currentLocation.phone_number}}{{currentLocation.phone_number}}{{else}}No phone number{{/if}}
    </div>
    <div class="text-break">
      <a class="text-danger" href="{{currentLocation.website}}" target="_new">
        {{#if currentLocation.website}}{{currentLocation.website}}{{else}}No website{{/if}}
      </a>
    </div>
    {{#unless matching}} <!-- merging -->
    <div class="text-danger">
      {{#if currentLocation.hours}}{{currentLocation.hours}}{{else}}No Hours{{/if}}
    </div>
    <div class="text-danger">
      {{#if currentLocation.provider.name}}Provider: {{currentLocation.provider.name}}{{else}}No provider{{/if}}
    </div>
    {{/unless}}
    {{> inlineButtons}}
  </div>
</div>
{{/if}}

<div id="actions" class="d-flex flex-column align-items-center p-2 position-fixed w-100 bottom-0 bg-white">
  <div id="actionsContainer" class="d-flex justify-content-center mt-2"></div>
</div>
