<div
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  class="toast bg-white"
  data-bs-delay="15000"
  id="completionToast"
  data-bs-backdrop="static"
>
  <div class="toast-header">
    <strong class="me-auto text-nowrap overflow-hidden">{{ title }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <div class="d-flex flex-column">
      <div class="text-wrap">
        {{#if reasonSkip}}
        <b>Skipped</b> {{ title }}. {{/if}} {{#if reasonMatch}} <b>Matched</b> {{ title }}. {{/if}} {{#if reasonCreate}}
        <b>Created new location</b> for {{ title }}. {{/if}} {{#if reasonMerged}}<b>Merged</b> {{title}}{{/if}} {{#if
        reasonNoMerge}}<b>Did not merge</b> {{title}}{{/if}}
      </div>
      {{#if supportsRedo}}
      <div class="small align-self-end mt-2">
        <button id="toastMakeChange" class="btn-sm small text-nowrap btn btn-outline-secondary" data-bs-dismiss="toast">
          Undo previous location?
        </button>
      </div>
      {{/if}}
    </div>
  </div>
</div>
