{{#*inline "compareHeader"}}
<h4 class="{{#if (isEq currentItem candidateItem matching)}}text-muted{{else}}text-danger{{/if}} d-inline">
  {{#if currentItem}} {{currentItem}} {{else}} {{default}} {{/if}}
</h4>
vs
<h4 class="{{#if (isEq currentItem candidateItem matching)}}text-muted{{else}}text-primary{{/if}}">
  {{#if candidateItem}} {{candidateItem}} {{else}} {{default}} {{/if}}
</h4>
{{/inline}} {{#*inline "compareLink"}}
<a
  href="{{currentItem}}"
  class="{{#if (isEq currentItem candidateItem matching)}}text-muted{{else}}text-danger{{/if}} d-inline text-break"
>
  {{#if currentItem}} {{currentItem}} {{else}} {{default}} {{/if}}
</a>
vs
<div class="mb-2">
  <a
    href="{{candidateItem}}"
    class="{{#if (isEq currentItem candidateItem matching)}}text-muted{{else}}text-primary{{/if}} text-break"
  >
    {{#if candidateItem}} {{candidateItem}} {{else}} {{default}} {{/if}}
  </a>
</div>
{{/inline}} {{#*inline "compare"}}
<div class="{{#if (isEq currentItem candidateItem matching)}}text-muted{{else}}text-danger{{/if}} d-inline">
  {{#if currentItem}} {{currentItem}} {{else}} {{default}} {{/if}}
</div>
vs
<div class="mb-2 {{#if (isEq currentItem candidateItem matching)}}text-muted{{else}}text-primary{{/if}}">
  {{#if candidateItem}} {{candidateItem}} {{else}} {{default}} {{/if}}
</div>
{{/inline}}

<div class="candidateContainer row border-start">
  <div class="col-6">
    <div class="{{#if matching}}text-lowercase{{/if}}">
      {{> compareHeader currentItem=currentLocation.name candidateItem=candidate.name}} {{> compare
      currentItem=currentLocation.full_address candidateItem=candidate.full_address}}
    </div>

    {{> compare currentItem=currentLocation.phone_number candidateItem=candidate.phone_number default="No phone
    number"}} {{> compareLink currentItem=currentLocation.website candidateItem=candidate.website default="No website"}}
    {{#unless matching}} {{> compare currentItem=currentLocation.hours candidateItem=candidate.hours default="No
    hours"}} {{/unless}}

    <div>Distance: {{ candidate.distance }} miles away</div>
    {{#unless matching}}
    <div>
      IDs: <span class="text-danger">{{currentLocation.id}}</span>, <span class="text-primary">{{candidate.id}}</span>
    </div>
    {{/unless}} {{> inlineButtons}}
  </div>
  <div class="map col-6" id="map-{{candidate.id}}">Map goes here</div>
</div>
