<div class="container-fluid">
  {{#each candidates }}
  <div class="row no-gutters">
    <div class="col-6">
      <h3>{{ this.name }}</h3>
      <div class="address">{{ this.full_address }}</div>
      <br />
      {{ this.distance }} miles away. ({{ this.latitude }} , {{ this.longitude}}) <br />
      <a href="{{ this.website }}" target="_blank">{{ this.website }}</a>
      <div>
        <input
          type="button"
          id="match-{{this.id}}"
          data-id="{{this.id}}"
          class="btn btn-primary"
          value="Matches this one!"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="map" style="height: 200px" id="map-{{this.id}}">Map goes here</div>
    </div>
  </div>
  <hr />
  {{/each}}
</div>
