<div>
  {{#each candidates }}
  <div id="record-{{this.id}}" class="border-bottom border-secondary py-3">
    <div class="row no-gutters">
      <div class="col-6 text-lowercase">
        <h4 class="text-danger d-inline">{{ ../sourceName }}</h4>
        <h4 class="d-inline">vs</h4>
        <h4 class="text-primary">{{ this.name }}</h4>

        <div class="address">
          <span class="text-danger">{{ ../sourceAddress }}</span> vs <br />
          <span class="text-primary">{{ this.full_address }}</span>
        </div>

        <div class="mt-2">{{ this.distance }} miles away. ({{ this.latitude }} , {{ this.longitude}})</div>

        <a class="overflow-hidden mt-2" href="{{ this.website }}" target="_blank">{{ this.website }}</a>
        <div class="mt-4">
          <input
            type="button"
            id="match-{{this.id}}"
            data-id="{{this.id}}"
            class="btn btn-success me-2 mt-2"
            value="Matches this one!"
          />

          <input type="button" id="close-{{this.id}}" class="js-close btn btn-secondary mt-2" value="Dismiss" />
        </div>
      </div>
      <div class="col-6">
        <div class="map h-100" id="map-{{this.id}}">Map goes here</div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
