<h3 class="mt-4 text-center">Matching <span class="text-danger">{{currentLocation.name}}</span></h3>

{{#if candidate}}
<h5 class="mb-4 text-center">Candidate {{curNumber}} of {{numCandidates}}</h5>
{{else}}
<h5 class="mb-4 text-center">
  {{#if numCandidates}}All potential matches declined{{else}}We couldn't find any matching candidates{{/if}}
</h5>
{{/if}} {{#if candidate}}
<div id="record-{{candidate.id}}" class="candidateContainer row border-start" data-id="{{candidate.id}}">
  <div class="col-6">
    <h4 class="text-lowercase text-danger d-inline">{{currentLocation.name}}</h4>
    vs
    <h4 class="text-lowercase text-primary">{{ candidate.name }}</h4>

    <div class="text-lowercase text-danger d-inline">{{currentLocation.full_address}}</div>
    vs
    <div class="mb-2 text-lowercase text-primary">{{ candidate.full_address }}</div>

    <div class="text-danger d-inline">
      {{#if currentLocation.phone_number}}{{currentLocation.phone_number}}{{else}}No phone number{{/if}}
    </div>
    vs
    <div class="mb-2 text-primary">
      {{#if candidate.phone_number}}{{candidate.phone_number}}{{else}}No phone number{{/if}}
    </div>

    <div class="text-break d-inline">
      <a class="text-danger" href="{{currentLocation.website}}" target="_new">
        {{#if currentLocation.website}}{{currentLocation.website}}{{else}}No website{{/if}}
      </a>
    </div>
    vs
    <div class="text-break">
      <a class="text-primary" href="{{candidate.website}}" target="_new">
        {{#if candidate.website}}{{candidate.website}}{{else}}No website{{/if}}
      </a>
    </div>

    <div class="mt-2">Distance: {{ candidate.distance }} miles away</div>
    <button type="button" class="js-debug mt-2 text-white btn btn-sm btn-info">Debug Info</button>
  </div>
  <div class="map col-6" id="map-{{candidate.id}}">Map goes here</div>
</div>
{{else}}
<div class="candidateContainer row border-start">
  <div class="col-6">
    <h4 class="text-lowercase text-danger">{{ currentLocation.name }}</h4>
    <div class="text-lowercase text-danger">{{ currentLocation.full_address }}</div>
    <div class="text-danger">
      {{#if currentLocation.phone_number}}{{currentLocation.phone_number}}{{else}}No phone number{{/if}}
    </div>
    <div class="text-break">
      <a class="text-danger" href="{{currentLocation.website}}" target="_new">
        {{#if currentLocation.website}}{{currentLocation.website}}{{else}}No website{{/if}}
      </a>
    </div>

    <button type="button" class="js-debug mt-2 text-white btn btn-sm btn-info">Debug Info</button>
  </div>
</div>
{{/if}}

<div class="d-flex flex-column align-items-center">
  <div id="matchActionsContainer" class="d-flex justify-content-center mt-2"></div>
</div>
