<div>
  <h2 class="mt-2">{{ name }}</h2>

  <div class="address">
    <div>{{address}}</div>
    <div>{{city}}, {{state}} {{zip}}</div>
  </div>
  <div>{{phone}}</div>

  {{#if website}}
  <div>
    <a href="{{website}}" target="_new">{{website}}</a>
  </div>
  {{/if}}
  <button type="button" id="debugSource" class=" mt-2 text-white btn btn-sm btn-info">Debug Info</button>
  <h3 class="mt-2">Nearby on VTS</h3>
  <div>(If you see the location on this map, but not on the right, click the red skip button)</div>
  <iframe
    frameborder="0"
    scrolling="no"
    height="600"
    style="overflow: hidden; width: 100%"
    src="https://www.vaccinatethestates.com/embed?lat={{latitude}}&amp;lng={{longitude}}&amp;zoom=12"
  ></iframe>
</div>
