<div>
  <h2 class="mt-2">{{ name }}</h2>

  <div class="address">
    <div>{{address}}</div>
    <div>{{city}}, {{state}} {{zip}}</div>
  </div>
  <div>{{phone}}</div>

  {{#if website}}
  <div class="text-break">
    <a href="{{website}}" target="_new">{{website}}</a>
  </div>
  {{/if}}
  <button type="button" id="debugSource" class="mt-2 text-white btn btn-sm btn-info">Debug Info</button>
</div>
